@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
html, body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding:0;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  background: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%)
  );
}
.card {
  height: 60vh;
  background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: -387px -202px;
    border-radius: 10px;
    width: 70vw;
    background-color: white;
    background-size: 100%;
}
.card img {
  position: absolute;
  top: 17%;
  left: 12%;
  width: 30%;
}
.cube {
  position: absolute;
  top: 30%;
  left: 5%;
}