@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
html, body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding:0;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  background: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%)
  );
}
.card { 
  border-radius: 10px;
  width: 900px;
  background-color: white;  
  font-size: 12px;  
  position: relative;
  display: flex;
  background-image: url(./images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: 2rem -9rem;
  background-size: 80%;
  margin-top: 5rem;
}
.cube {
  position: fixed;
  margin: 13rem -6rem;
}
.left {
  width: 65%;
  margin: 4rem -5rem;
}
.right {
  overflow: auto;
  height: 75%;
  width: 35%;
}
.right ul {
  margin: 2rem 0;
  padding: 0;
  list-style: none;
}
.right ul li {
  border-bottom: 1px solid hsl(240, 5%, 91%);  
}
.question {
  margin-top: 1rem;
}
.question img {
  width: 10px;
  position: relative;
  cursor: pointer;
}
.question span {
  cursor: pointer;
}
.question span:hover {
  color: hsl(14, 88%, 65%);
}
.answer1,.answer2,.answer3,.answer4 {
  color: hsl(240, 6%, 50%);
  margin-top: 1rem;
  height: 0px;
  overflow: hidden;
  transition: all .5s ease;
}
.show {  
  height: 50px;
}
.bold {
  font-weight: 700;
}

@media (max-width: 1100px) {
  .card {
    width: 700px;
  }  
  .right {
    width: 40%;
    margin-top: 5rem;
    margin-left: 6rem;
    margin-right: 0;
  }
}
@media (max-width: 850px) {
  .card {
    width: 500px;
    margin-top: 3rem;
    background-position: 7rem -9rem;
    background-size: 47%;
  }
  .left {
    width: 0;
    margin: -7rem 7rem;
  }
  .left img {
    width: 240px;    
  }
  .cube {
    margin: -4rem 5rem;
  }
  .cube img {
    width: 135px;
  }
  .right {
    width: 76%;
    margin-top: 5rem;
    margin-left: -7rem;
    margin-right: 0;
  }
}
@media (max-width: 450px) {
  .card {
    width: 300px;
  }
  .left { 
    margin: -7rem 1rem;  
  }
  .left img {
    margin-left: 1rem;
  }
  .cube {
    margin: -4rem 0rem;
  }
  .cube img {    
    width: 45%;
    margin: 18px 21px;
  }
  .right {   
    margin-left: 0rem;    
  }
}